body {
    font-family: 'Courier New', monospace;
}

.banner{
    display: flex;
    justify-content: center;
}
.banner h1{
    font-size: 11vmin;
}

.meniu{
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    flex-direction: column;
    width:300px;
    gap: 10px
}
.menu-button{
    height: 10vh;
    background-color: lightgreen;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    font-size: 5vmin;
    cursor: pointer;
}

.hidden{
    visibility: hidden;
}